* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}




nav {
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 2;

}

.first-nav,
.second-nav {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}
nav,.hero,#about,.footer1 ,.footer2{
    color: white; 
}

.hero{ 
    height: 100vh ;
}
.hero ,#portfolio,#about ,#contact, .foot ,.footer2{
    background-color: rgb(172, 233, 172);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    
}
.circle{
    width: 220px;
    height: 220px;
    background-color: grey;
    border-radius: 50%;
}
.picture{
    margin-top:100px;
    position: relative;
}
.pic{
    width: 220px;
    position: absolute;
    top: -44px;
    border-radius: 40%;
}
.hero .icon1,#about .icon1{
    color: white;
    font-size: 50px;
}
.hero .stright ,#about .stright{
    width: 75px;
    height: 5px;
    background-color: white;
}
#portfolio .icon1,#contact .icon1{
    color: black;
    font-size: 50px;
}
#portfolio .stright ,#contact .stright{
    width: 75px;
    height: 5px;
    background-color: black;
}
.draw{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
/**.icon1::after{
    content: " ";
    height: 2px;
    width: 25px;
    background-color: white;
}
.icon1::before{
    content: " ";
    height: 2px;
    width: 25px;
    background-color: white;
}
.icon2::after{
    content: " ";
    height: 2px;
    width: 25px;
    background-color: black;
}.icon2::before{
    content: " ";
    height: 2px;
    width: 25px;
    background-color:black;
}**/
.porticon{
    width: 200px;
}
#portfolio ,#contact{
    background-color: white; 
}
.container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.card{
    width: 356px;
    height: 256px;
     border-radius: 10px;
     background-color: aqua;
     margin: 10px 10px;
     position: relative;
}
.circ{
    width: 200px;
    height: 200px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.aboutp{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-wrap: wrap;

}
.p1{
    margin: 10px auto;
width: 250px;
}

.submit {
    width: 150px;
    height: max-content;
    background-color:rgb(172, 233, 172);
    color: white;
    font-size: 10px;
    margin-top: 20px;
    border-radius: 5px;
    justify-content: flex-start;
}

.submit:hover {
    background-color: gray;
}
label ,input{
    display: block;
}
.footer1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(43, 42, 42);
}
.foot{
    background-color: rgb(43, 42, 42);
    width:350px;
}
.footer2{
    background-color: rgb(32, 32, 32);
    height:40px;
}
.footer1 .foot a{
    color: green;
    text-decoration:underline;

}
.flex-wrap{
    flex-wrap: wrap;
}
@media screen and ( max-width : 400px)
{
    #portfolio .card{
        width: 220px;
    }
    #portfolio .card .circ{
        width: 150px;
        height: 150px;
    }
}
    
